<form [formGroup]="todosForm" (ngSubmit)="saveChanges()">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody formArrayName="todos">
      <tr *ngFor="let todoControl of todosArray.controls; let i = index" [formGroupName]="i">
        <td>
          <input type="text" class="form-control" formControlName="title">
        </td>
        <td>
          <select class="form-control" formControlName="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="removeTodoItem(i)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary" [disabled]="!todosForm.dirty">Save Changes</button>
</form>
