<div class="container mt-3">
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="todoTitle">Todo Title</label>
        <input id="todoTitle" type="text" class="form-control" formControlName="title">
      </div>
      <div class="form-group mt-2">
        <label for="categorySelect">Category</label>
        <select id="categorySelect" class="form-control" formControlName="categoryId">
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary mt-2" [disabled]="!todoForm.valid">Add Todo</button>
    </form>
  </div>
  